@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), url(../fonts/HelveticaNeue.ttf) format('ttf');
}

@tailwind utilities;